*{
  font-family: '微軟正黑體','Microsoft JhengHei',Arial,Helvetica,sans-serif;
}

h1{
  color: rgb(0, 0, 0);
}

#container{
  margin: auto;
  width: 70%;
  margin-top: 3rem;
  // margin-bottom: 1rem;
  min-height: calc(100vh - 420px);
}

@media (max-width: 767px){
  #container{
    width: 90%;
    margin-top: 1rem;
    margin-bottom: 1rem;
    min-height: calc(100vh - 292px);
  }  
}

a{
  text-decoration: none !important;
}
